# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\hello-github\Medical_Report_Generation\Multimodal Recurrent Model With Attention For Automated Radiology Report Generation\HIT\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
